@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Google Font CDN Link */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}


body {
 
  font-family: "Poppins" , sans-serif;
}
.jmb{
  background-image: url('assets/about.png');
}

h1, h2, h3,h4, h5,h6 {
  font-family: "Poppins" , sans-serif;
  font-size: large;
}

.jumbotron{
    background-image: url('assets/down2.jpg');
  
    background-repeat: no-repeat;
    background-size: cover;
    height:700px;
    width:100%;
    
}

p {
    color:white;
}

h5 {
    color: white;
}


#about-section{

  
}

.service{
    height: 200%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -8%;
    
    
    
}
.btnclass{
    margin:4px;
  
}
.txt{
    color: black;
    font-size: 70px;
    font-weight: bold;
}

.btn{

    
}
.about-box{
    height: 400px;
   
    width: 500px;
  margin:20px ;

}


.paragraph{
    color: grey;
}

.date{
font-family: 'Inter';
font-size: 70px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0em;
text-align: left;

}
.dateheading{

font-size: 38px;
font-weight: 900;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #575555;

}
button{
    background-color: red;
    width:100px;
    height:50px;
    color: black;
    border:none;
    margin-top: 50px;
}
.imagespic{
    border-radius: 200px;
    width: 130px;
    height: 130px;
    

    
}
.textpic{
    margin-top: 15px;
    font-weight: bold;

}
.socials{
    width: 30px;
}
.displayimg{
    width: 350px;
    height:350px;
}
.displaypics{
    width:585px;
    height:300px;
}
.displaysocials{
    width:100px;
    margin:50px;
    
}
.iconbar{
    margin:10px;
    color:white;
}

.artphoto{
    width:500px;
    height:500px;
}
.contacts{
    color: white;
}




.about{
  height:100vh;
  width:100vh;
  background:white;
  display:flex;
 
}
.about .main img{
width:580px;
max-width:100%;
height:auto;
padding:0 10px;
}
.all-text{
 width:600px;
 max-width:100%;
 padding:0 10px; 
}
.main{
  width:1290px;
  max-width:95%;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-around;


}
.all-text h4{
  font-family: 'Roboto', sans-serif;
  font-size:18px;
  color:#777777;
  letter-spacing:1px ;
  font-weight: 400px;
  margin-bottom:10px;

}

.all-text h1{
  font-size: 65px;
  color:#111111;
  font-weight:700;
  margin-bottom: 20px;

}
.all-text p{
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  color:#777777;
  line-height:30px;
  margin-bottom:35px;

}

.btn button{
  background:white;
  padding:20px 32px;
  font-size:16px;
  font-weight: bold;
  color:#111111;
  border:none;
  outline:none;
  box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
  margin-right:500px;

}
.btn button:hover{
  background-color: #1d44f9;
  color:white;
  transition:.3s;
  cursor:pointer;

}
.btn .btn2{
  background: #111111;
  color:white;

}



.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: red;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: red;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}
.soc{
  width:20px;
  height:20px;
}

@media only screen and (max-width: 768px) {
  
  #about-section{
    margin-left: 5%
  }
  
 
 
}


